<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        html {
            font-family: sans-serif;
        }
    </style>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
    <section id="control-plane">
        <section class="audio">
            <section class="status">
                Status:
                <span id="status-label">
                    🔴 UNINITIALIZED
                </span>
            </section>
            <section class="controls">
                <button type="button" id="init-button">✨ Initialize</button>
                <button type="button" id="play-pause-button">⏯ Play/Pause</button>
                <select id="output-device-selection"></select>
                <audio id="audio-element"></audio>
            </section>
        </section>
    </section>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>